pymongo==3.3.1
dill==0.2.6
Flask==0.11.1
jsonpickle==0.9.6
nltk==3.2.2
numpy==1.11.0
pandas==0.18.1
Pattern==2.6
rake_nltk==1.0.0
requests==2.9.1
Scrapy==1.5.1
tornado==4.4.1
xmltodict==0.11.0
Sastrawi==1.0.1
scikit_learn==0.19.2
tinysegmenter==0.4
boto3==1.9.51
beautifulsoup4
scipy==1.2.0
python_magic==0.4.15
Werkzeug==0.14.1
pdfminer==20140328
lxml==4.2.5
pdfplumber==0.5.11
PyMuPDF==1.14.20
html2text
