<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Meeting Scheduler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="static/favicon.ico">
</head>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
		{% for head1 in header %}
      		<th scope="col">{{head1}}</th>
		{% endfor %}
    </tr>
  </thead>
  <tbody>
  	{% for row in rows %}
		<tr>
			<th scope="row">{{row["no"]}}</th>
			<td>{{row["owner"]}}</td>
			<td>
				{% for participant in row["participants"] %}
					{{participant}}<br>
				{% endfor %}
			</td>
			<td>{{row["from_time"]}}</td>
			<td>{{row["to_time"]}}</td>
			<td>{{row["status"]}}</td>
			<td><a href="download/{{row.record}}">
					<button class='btn btn-default'>
						<img src="static/images/play.png" width="40" height="40">
					</button>
				</a>
			</td>
			<td>{{row["transcript"]}}</td>
			<td>
				{% for convers in row["conversation"] %}
				<b>{{convers[0]}}</b>:{{convers[1]}}<br>
				{% endfor %}
			</td>
    	</tr>
	{% endfor %}
  </tbody>
</table>
</body>
</html>
